.galaxy-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: -1;
    background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 3px), /* yo chai big star */
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 3px), /* yo chai big star */
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 2px), /* medium star */
        radial-gradient(white, rgba(255, 255, 255, .1) 1px, transparent 1px), /* small star */
        radial-gradient(white, rgba(255, 255, 255, .1) 0.5px, transparent 1px),   /* tiny star */
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 2px), /* medium star */
        radial-gradient(white, rgba(255, 255, 255, .1) 0.5px, transparent 0.5px);   /* smallest star */
        
    background-size: 350px 350px, 250px 250px, 150px 150px, 100px 100px, 75px 75px; /* this controls the gap between big, medium and small stars */
    background-position: 0 0, 40px 60px, 20px 30px, 10px 15px, 5px 7px; /* left top of big, left top of medium.... */
    animation: twinkle 15s infinite linear;
}
body{
    width: 100%;
    height: fit-content;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

@keyframes twinkle {
    from {background-position: 0 0, 40px 60px, 20px 30px, 10px 15px, 5px 7px;}
    to {background-position: -350px 0, -310px 60px, -230px 30px, -90px 15px, -70px 7px;}
}
